body{

background-color: #851400;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

}

.keys{
    background-color: black;

}

p{
   color: rgb(32, 218, 162);
}

h1{
    color: black;
    font-size: 4rem;
    font-family: cursive;
}


.wrong{
    color: black;
    font-size: 1.5rem;
    font-family: cursive;
}

p{
    color: black;
    font-size: 1.2rem;
    font-family: cursive;
}

#keyboard{
    color: black;
    font-size: 1.5rem;
    font-family: cursive;
}
